
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

video-dashboard,
video-list,
video-player,
video-thumbnail,
stat-filters {
  display: block;
  border: 3px solid green;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

video-dashboard {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-gap: 5px;
}

.highlighted {
  background-color: gold;
  border: 3px solid goldenrod;
  border-radius: 5px;
}

