<ng-container *ngIf="video$ | async as video; else message">
  <img src="{{ 'http://img.youtube.com/vi/' + video.id + '/0.jpg' }}">
  <h3>{{ video.title }}</h3>
  <h4>{{ video.author }}</h4>
</ng-container>

<ng-template #message>
  Hey! Select a video from the list!
</ng-template>
